/////////////////////////////////////
//////////  Inputs Select  //////////
/////////////////////////////////////

// Mixins
@import '../../mixins/form.scss';


.input-datePicker{
	width: $input-width-desktop;
	@media screen and (max-width: 770px) {
		width: $input-width-mobile;
		height: 90px;
	}
	div{
		// Label
		label.formulate-input-label{
			font-size: 14px;
			font-weight: 400;
			margin-bottom: 10px;
		}

		.v-input__slot{
			margin-bottom: 0;
		}

		.v-text-field__details{
			display: none;
		}

		div.formulate-input-element{
			max-width: 100%;
			@media screen and (max-width: 770px) {
				max-width: $input-width-mobile;
			}
			div:first-child{
				position: relative;
				padding: 0;

				div.v-input__prepend-outer{
          min-width: auto !important;
					z-index: 2;
					position: absolute;
					top: 8px;
					left: 10px;

					.primary--text{
						color: #2196FF !important;
						caret-color: #2196FF !important;
					}
				}
	
				div:last-child{
					div{
						@media screen and (max-width: 770px) {
							width: $input-width-mobile;
						}
						&::before{
							display: none;
						}
						&:after{
							display: none;
						}
						div input[type="text"]{
							max-height: 46px;
							height: 46px;
							padding: 0 0 0 45px;
							@include input-style();
						}
					} 
				} 
			}
		}
	}
}

.input-calendar{
	div{
		label.formulate-input-label{
			font-size: 14px;
			font-weight: 400;
			margin-bottom: 10px;
		}

		.layout{
			padding: 10px;
			border-radius: 4px;
			box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
			-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
			-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
		}

		div div{
			background-color: white;
			.v-btn{
				height: 100%;
			}

			td{
				padding: 5px !important;
				.v-btn--is-elevated{
					border-radius: 0;
					box-shadow: none;
					width: 100% !important;
					height: 40px !important;

					@media screen and (max-width: 620px) {
						width: 80px !important;
						height: 30px !important;
					}
					span{
						color: black;
					}
				}
			}
		}
	}

	// Error
	ul{
		li.formulate-input-error{
			font-size: 11px;
		}
	}
}

tbody {
	tr:hover {
		background-color: transparent !important;
	}
}
  
.table-heade-row {
	.table-head-title {
	padding: 0 8px 0 0;
	text-align: center !important;
	margin-right: 5px;
	}
}

.v-text-field{
  .v-label--active {
    background-color: white !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
	.v-input__control{
		.v-input__slot{
			// content
			box-shadow: none !important;
			.v-input__prepend-inner{
				.v-input__icon{
					z-index: 1;
				}
			}
			margin-bottom: 8px;
			fieldset{
				border: 1px solid map-get($colors, cool-gray--200);
				border-radius: 4px !important;
				box-shadow: $shadow-base;
				padding-top: 0;
				top: 0px;
				background-color: map-get($colors, white) !important;
				legend{
					display: none;
				}
			}
			&:hover{
				fieldset{
					border: 1px solid map-get($colors, cool-gray--400);
					outline: #E2E4E8 solid 2px;
					padding-top: 0;
					top: 0px;
					legend{
						display: none;
					}
				}
			}
		}
		.v-text-field__details{
			// message
			padding-left: 0 !important;
		}
	}
}

