/////////////////////////////////////
//////////  Inputs Switch  //////////
/////////////////////////////////////


.myc-input-switch{
    height: 16px;
    position: relative;
    input[type=checkbox]{
        position: absolute;
        height: 0;
        width: 0;
        visibility: hidden;
    }
    
    label {
        cursor: pointer;
        text-indent: -9999px;
        width: 26px;
        height: 16px;
        background: map-get($colors, cool-gray--300);
        display: block;
        border-radius: 100px;
        position: relative;
    }
    
    label:after {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        width: 12px;
        height: 12px;
        background: map-get($colors, white);
        border-radius: 90px;
        transition: 0.3s;
    }
    
    input:checked + label {
        background: map-get($colors, blue--500);
    }

    input:disabled + label {
        background: map-get($colors, cool-gray--200);
        &:after{
            background: map-get($colors, cool-gray--400);
        }
    }
    
    input:checked + label:after {
        left: calc(100% - 2px);
        transform: translateX(-100%);
    }
    
    label:active:after {
        width: 20px;
    }
}
