/////////////////////////////////////
//////////  Inputs Select  //////////
/////////////////////////////////////

// Mixins
@import '../../mixins/form.scss';

.input-select{
	width: $input-width-desktop;
	@media screen and (max-width: 770px) {
		width: $input-width-mobile;
		height: 90px;
	}
	div{
		width: 100%;
		label.formulate-input-label{
			font-size: 14px;
			font-weight: 400;
			margin-bottom: 10px;
		}

		div.formulate-input-element{
			width: 100%;
			max-width: 100% !important;
			select{
				width: 100%;
				padding: 14px 12px;
				@include input-style();
			}
		}
	}
}

.v-select{
	.v-input__control{
			.v-select__slot{
				input{
				@include text-sm---regular;
				color: map-get($colors, cool-gray--700) !important;
				}
			}
	}
}

.normal-input-select-filter{
	width: 170px;
	border: 1px solid $myc-input-border;
	border-radius: 0;
	.v-input__control{
		div:first-child{
			background-color: white;
			margin: 0;
			padding: 7px 12px;
			fieldset{
				display: none;
			}
			.v-select__slot{
				label{
					display: none;
				}
				input{

  @include text-sm---regular;
  color: map-get($colors, cool-gray--700) !important;
				}
				.v-select__selection--comma{
					padding-left: 0;
					padding-right: 0;
					font-size: 15px !important;
				}
			}
		}
		.v-text-field__details{
			display: none;
		}
	}
}

.v-select {
	.v-input__control{
		.v-input__slot{
			// content
			margin-bottom: 8px;
			fieldset{
				border: 1px solid map-get($colors, cool-gray--200);
				border-radius: 4px !important;
				box-shadow: $shadow-base;
				padding-top: 0;
				top: 0px;
				legend{
					display: none;
				}
			}
			&:hover{
				fieldset{
					border: 1px solid map-get($colors, cool-gray--400);
					outline: #E2E4E8 solid 2px;
					padding-top: 0;
					top: 0px;
					legend{
						display: none;
					}
				}
			}
		}
		.v-text-field__details{
			// message
			padding-left: 0 !important;
		}
	}
}

.v-text-field__details{
	// message
	padding-left: 0 !important;
}
.v-messages__message{
	color: map-get($colors, red--500);
	@include text-base---regular;
}