/////////////////////////////////////
///////  Inputs Concentration  //////
/////////////////////////////////////

// Mixins
@import '../../mixins/form.scss';


.input-concentration{
	width: $input-width-desktop;
	@media screen and (max-width: 770px) {
		width: $input-width-mobile;
		height: 50px;
	}
	display: flex;
	.input-text{
		width: calc( 100% - 150px);
		margin-right: 5px;
		// Error
		ul{
			li.formulate-input-error{
				font-size: 11px;
			}
		}
	}
	.input-select-autocomplete{
		width: 150px;
		// Error
		ul{
			li.formulate-input-error{
				font-size: 11px;
			}
		}
	}
}