/////////////////////////////////////
//////  Inputs Autocomplete  ////////
/////////////////////////////////////

// Mixins
@import "../../mixins/form.scss";

// Autocomplete css
.input-select-autocomplete {
  width: $input-width-desktop;
  @media screen and (max-width: 770px) {
    width: $input-width-mobile;
    height: 90px;
  }
  .formulate-input-wrapper {
    width: 100% !important;
    max-width: 100% !important;

    label.formulate-input-label {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 10px;
    }

    .v-autocomplete {
      .v-input__control {
        .v-input__slot {
          margin: 0;
          height: 46px !important;
          @include input-style();
          fieldset {
            display: none;
          }
        }
        .v-text-field__details {
          display: none;
        }
      }
    }
  }
}

.autocomplete-item {
  @include text-sm---regular;
}
.item-disabled {
  color: map-get($colors, cool-gray--400) !important;
  cursor: not-allowed !important;
}
