/////////////////////////////////////
///////////  Inputs Phone  //////////
/////////////////////////////////////

// Mixins
@import '../../mixins/form.scss';


.input-phone{
	width: $input-width-desktop;
	@media screen and (max-width: 770px) {
		width: $input-width-mobile;
		height: 90px;
	}
	display: flex;
	.input-phone-prefix{
		width: 90px;
		margin-right: 5px;
		div{
			width: 100%;
	
			label.formulate-input-label{
				font-size: 14px;
				font-weight: 400;
				margin-bottom: 10px;
			}
	
			div{
				width: 100%;
				max-width: 100% !important;
	
				select{
					width: 100%;
					padding: 14px 12px;
					@include input-style();
				}
			}
		}
	
		// Error
		ul{
			li.formulate-input-error{
				font-size: 11px;
			}
		}
	}

	.input-phone-number{
		width: calc( 100% - 90px);
		div{
			width: 100%;
	
			label.formulate-input-label{
				font-size: 14px;
				font-weight: 400;
				margin-bottom: 10px;
			}
	
			div{
				width: 100%;
				max-width: 100% !important;
	
				input[type="tel"]{
					width: 100%;
					padding: 14px 12px;
					@include input-style();
				}
			}
		}
	
		// Error
		ul{
			li.formulate-input-error{
				font-size: 11px;
			}
		}
	}
}