/////////////////////////////////////
///////////  Form layout  ///////////
/////////////////////////////////////

.container-form-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  @media screen and (max-width: 650px) {
    padding: 0 0px;
  }
}

.informations-card {
  height: 100%;
}

// Row formulaire
.form-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  @media screen and (max-width: 1030px) {
    flex-direction: column;
  }
}

// Row formulaire avec alignement au début
.form-row-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  @media screen and (max-width: 1030px) {
    flex-direction: column;
  }
}

// Col formulaire  50%
.form-col {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: calc(50% - 28px);
  @media screen and (max-width: 1030px) {
    width: 100%;
  }
}

// Col formulaire défini par le nom
@for $i from 1 through 100 {
  .form-col-#{$i} {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @if $i == 100 {
      width: 100%;
    } @else {
      width: #{$i}+ "%";
      margin-right: 16px;
      &:last-child {
        margin-right: 0px;
      }
    }
    @media screen and (max-width: 1030px) {
      width: 100%;
    }
  }
}

.col-column {
  flex-direction: column;
}

.form-input-container {
  width: 100%;
  margin-bottom: 12px;
  .myc-input-label {
    @include text-sm---regular;
    color: map-get($colors, cool-gray--700);
    display: block;
    margin-bottom: 8px;
    height: 20px;
  }
  .myc-input-label-light {
    @include text-sm---regular;
    color: map-get($colors, cool-gray--400);
    display: block;
    margin-bottom: 8px;
    height: 20px;
    text-transform: Uppercase;
  }
  &:nth-child(2) {
    margin-left: 16px;
  }
  .v-input--radio-group__input {
    display: flex;
    justify-content: space-between;
  }
}

.myc-radio-label {
  /* coolGray/700 */
  padding: 16px;
}
