/////////////////////////////////////
//////////  Patient Header //////////
/////////////////////////////////////

.header-patient-folder {
  position: fixed;
  transition: 200ms;
  box-shadow: $shadow-none;
  background-color: map-get($colors, white);
  left: 200px;
  right: 0;
  top: 0;
  padding: 24px 32px;
  z-index: 2;
  @media screen and (max-width: 950px) {
    left: 0px;
    top: 80px;
    padding: 12px;
  }
}

.header-patient-scroll {
  z-index: 2;
  box-shadow: $shadow-base;
  transition: 200ms;
}

.myc-global-header-patient {
  width: 100%;
  padding: 16px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .left-part {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .patient-informations {
      background-color: map-get($colors, blue--200);
      display: flex;
      padding: 16px;
      border-radius: 4px;
      margin-right: 8px;
      .lastname {
        text-transform: uppercase;
      }
      .firstname {
        text-transform: capitalize;
      }
      .lastname,
      .firstname {
        @include text-lg---medium;
      }
      span {
        display: block;
        margin-right: 5px;
        @include text-lg---regular;
        color: map-get($colors, cool-gray--600);
      }
      .edit {
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 26px;
        width: 26px;
        background-color: white;
        cursor: pointer;
        margin-left: 16px;
        svg {
          stroke: map-get($colors, blue--500);
          width: 17px;
        }
      }
    }
    .information {
      margin-left: 16px;
      .title {
        @include text-sm---medium;
        color: map-get($colors, cool-gray--400);
        text-transform: uppercase;
      }
      .content {
        @include text-base---regular;
        color: map-get($colors, cool-gray--700);
        margin-left: 8px;
      }
    }
  }
  .right-part {
    .header-patient-button {
      cursor: pointer;
      display: flex;
      align-content: center;
      justify-content: center;
      border: solid 1px map-get($colors, cool-gray--200);
      border-radius: 4px;
      background-color: map-get($colors, cool-gray--50);
      padding: 8px;
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 8px;
        svg {
          stroke: map-get($colors, blue--500);
          width: 20px;
        }
      }
      .content {
        display: flex;
        flex-direction: column;
        width: 216px;
        margin-left: 8px;
        .title {
          @include text-base---medium;
          color: map-get($colors, cool-gray--700);
        }
        .text {
          @include text-sm---regular;
          color: map-get($colors, cool-gray--400);
        }
      }
    }
  }
}
