/////////////////////////////////////
//////////  Page header  ///////////
/////////////////////////////////////

.container-header-page{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.container-page-header{
    margin-bottom: 23px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.container-page-search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .span-filter{
        margin: 0 0 0 15px;
        @media screen and (max-width: 1170px) {
            margin: 10px 0 0 0;
        }
    }

    @media screen and (max-width: 1170px) {
        align-items: flex-start;
        flex-direction: column;
    }
}

.header{
    display: flex;
    align-items: center !important;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    .title-page{
        @include text-xl---medium;
        color: map-get($colors, cool-gray--700);
    }
}
