/////////////////////////////////////
/////////  Spacing helpers //////////
/////////////////////////////////////

@import "../mixins/helpers.scss";

$ratio: 4px;

//============================================ Padding
@for $i from 0 through 100 {
  .px-#{$i} {
    padding: calc($i * $ratio) 0 calc($i * $ratio) 0 !important;
  }
  .py-#{$i} {
    padding: 0 calc($i * $ratio) 0 calc($i * $ratio) !important;
  }
  .pl-#{$i} {
    padding-left: calc($i * $ratio) !important;
  }
  .pr-#{$i} {
    padding-right: calc($i * $ratio) !important;
  }
  .pt-#{$i} {
    padding-top: calc($i * $ratio) !important;
  }
  .pb-#{$i} {
    padding-bottom: 0 0 calc($i * $ratio) 0 !important;
  }
}

//============================================ Margin
@for $i from 0 through 100 {
  .mx-#{$i} {
    margin: calc($i * $ratio) 0 calc($i * $ratio) 0 !important;
  }
  .my-#{$i} {
    margin: 0 calc($i * $ratio) 0 calc($i * $ratio) !important;
  }
  .ml-#{$i} {
    margin: 0 0 0 calc($i * $ratio) !important;
  }
  .mr-#{$i} {
    margin: 0 calc($i * $ratio) 0 0 !important;
  }
  .mt-#{$i} {
    margin: calc($i * $ratio) 0 0 0 !important;
  }
  .mb-#{$i} {
    margin: 0 0 calc($i * $ratio) 0 !important;
  }
}

//============================================ Cursor
.pointer {
  cursor: pointer;
}

.unselect {
  @include unselect();
}

//============================================ Hide

.hide-on-mobile {
  @include breakpoint(sm) {
    display: none;
  }
}
