/////////////////////////////////////
//////////// Vital Signs ////////////
/////////////////////////////////////

.myc-vital-sign{
    .vital-sign-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8px;
        h3{
            @include text-base---medium;
            color: map-get($colors, cool-gray--400)
        }
    }
    .vital-sign-table{
        border-collapse: collapse;
        width: 100%;
        thead{
            tr{
                background-color: map-get($colors, cool-gray--50);
                td{
                    @include text-base---regular;
                    padding: 8px;
                    &:first-child{
                        border-radius: 4px 0 0 4px;
                    }
                    &:last-child{
                        border-radius: 0 4px 4px 0;
                    }
                }
            }
        }
        tbody{
            tr{   
                &:nth-child(2n-4){
                    background-color: map-get($colors, cool-gray--50) !important;
                }
                td{
                    @include text-base---regular;
                    padding: 12px 8px;
                    &:first-child{
                        color: map-get($colors, cool-gray--500);
                        @include text-base---medium;
                    }
                }
            }
        }
    }
}