/////////////////////////////////////
///////  Checkup List Item  /////////
/////////////////////////////////////


.container-card-checkup {
    display: flex;
    align-items: center;
    .container-checkup {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;
      border: solid 1px $myc-grey-light;
      border-radius: 4px;
      padding: 10px 10px;
      margin: 10px 10px 10px 0;
  
      .container-checkup-row-1 {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        width: 100%;
        .checkup-left {
          display: flex;
          align-items: center;
          justify-content: center;
          .card-name {
            display: block;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            margin: 0 0 0 10px;
          }
        }
        .checkup-right {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          .container-row {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-right: 10px;
  
            .container-row-first {
              display: flex;
              align-items: center;
              justify-content: flex-end;
              width: 100%;
            }
            .container-row-second {
              display: flex;
              align-items: center;
              justify-items: flex-end;
              flex-wrap: wrap;
              width: 100%;
              margin-top: 10px;
              @media screen and (max-width: 700px) {
                flex-direction: column;
                align-items: flex-end;
              }
            }
          }
          .date {
            margin-right: 5px;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
    }
  }
  
  .container-tool-types {
    display: flex;
    flex-direction: column;
  }