/////////////////////////////////////
////////  Appointment Card  /////////
/////////////////////////////////////

.clickable {
  &:hover {
    cursor: pointer;
    background-color: map-get($colors, cool-gray--50);
  }
}

.enfant {
  width: 50%;
}

@mixin card-item-outpatient {
  // width: 100%;
  border: solid 1px map-get($colors, cool-gray--300);
  border-radius: 4px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // margin-bottom: 16px;
  flex-wrap: wrap;
  &:last-child {
    margin-bottom: 0px;
  }
  @include breakpoint(sm) {
    padding: 4px 12px;
    margin-bottom: 8px;
  }
  .container-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    .row-icon {
      color: map-get($colors, blue--500);
      margin-right: 10px;
      @include breakpoint(sm) {
        display: none;
      }
    }
    h3 {
      @include text-sm---medium;
      color: map-get($colors, cool-gray--700);
      text-transform: capitalize;
    }
    h4 {
      @include text-sm---regular;
      color: map-get($colors, cool-gray--400);
      margin-left: 5px;
      margin-right: 32px;
      text-transform: capitalize;
      @include breakpoint(sm) {
        margin-right: 6px;
      }
    }
    .appointement-date,
    .appointement-hour {
      display: block;
      text-transform: uppercase;
    }
    .appointement-hour {
      margin-left: 3px;
      @include text-sm---regular;
      color: map-get($colors, cool-gray--400);
      @include breakpoint(sm) {
        display: none;
      }
    }
  }
  .container-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .appointement-date,
    .appointement-hour {
      display: block;
      text-transform: uppercase;
    }
    .appointement-hour {
      margin-left: 3px;
      @include text-sm---regular;
      color: map-get($colors, cool-gray--400);
      @include breakpoint(sm) {
        display: none;
      }
    }
    .icon-action {
      color: map-get($colors, cool-gray--400);
      font-size: 18px;
      margin-left: 8px;
      // cursor: pointer;
      @include breakpoint(sm) {
        display: none;
      }
    }
  }
  .appointement-date {
    margin-left: 5px;
    @include text-sm---medium;
    color: map-get($colors, cool-gray--700);
  }
}

.container-appointement-item {
  @include card-item-outpatient;
  .chip-icon-waiting-room-amber {
    @include breakpoint(sm) {
      display: none;
    }
  }
}

.bg-blue-50 {
  background-color: map-get($colors, blue--50);
}

.container-history-item {
  flex-direction: column;
  cursor: pointer;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  @include card-item-outpatient;
  .container-all {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    .chip-icon-waiting-room-blue {
      @include breakpoint(sm) {
        display: none;
      }
    }
    .history-doctor {
      margin-right: 8px;
    }
    .clip-exam {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 8px;
      @include text-sm---medium;
      color: map-get($colors, cool-gray--400);
      @include breakpoint(sm) {
        display: none;
      }
      .v-icon {
        color: map-get($colors, cool-gray--400) !important;
        font-size: 20px;
      }
    }
  }
  .container-aditional-exam {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 12px;
    gap: 12px;
    @include breakpoint(md) {
      flex-direction: column;
    }
  }
}

.linked-medevent-hover {
  &:hover {
    background-color: map-get($colors, cool-gray--200);
    // cursor: pointer;
  }
}

.linked-medevent {
  border-radius: 4px;
  width: calc(50% - 6px);
  padding: 0 12px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  @include breakpoint(md) {
    width: 100%;
  }
  .container-left {
    display: flex;
    align-items: center;
    .med-event-title {
      @include text-base---medium;
      color: map-get($colors, cool-gray--700);
      margin-right: 8px;
    }
  }
  .container-right {
    display: flex;
    span {
      display: block;
    }
    display: flex;
    align-items: center;
    .v-avatar {
      margin: 0 8px 0 0 !important;
      @include breakpoint(sm) {
        display: none !important;
      }
    }
    .med-event-date {
      @include text-sm---regular;
      color: map-get($colors, cool-gray--700);
      .med-event-hour {
        @include text-xxs---regular;
        color: map-get($colors, cool-gray--400);
      }
    }
  }
}

.bg-grey {
  background-color: map-get($colors, cool-gray--100);
}

.bg-white {
  background-color: white;
  border: 1px solid #e5e7eb;
}

.bg-pink {
  background-color: #fff1f2;
}
.container-all-appointments,
.container-all-investigation,
.container-all-consultation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  .icon {
    @media screen and (max-width: 700px) {
      display: none;
    }
  }
  .container-type-medecin-date {
    width: 100%;
    border: solid 1px $myc-grey-light;
    border-radius: 4px;
    padding: 10px 10px;
    margin: 10px 10px 10px 0;
    @media screen and (max-width: 700px) {
      margin: 10px 0px 10px 0;
      padding: 5px 0px;
    }
    .row-teasing {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .container-left {
        display: flex;
        align-items: center;
        justify-content: center;
        .type-consulation {
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 20px;
          margin: 0 10px;
          @media screen and (max-width: 700px) {
            margin: 0 0 0 5px;
          }
        }
        .type-consulation-second {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          margin: 0 10px;
          @media screen and (max-width: 700px) {
            display: none;
          }
        }
        .type {
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 20px;
          margin: 0 10px;
          @media screen and (max-width: 700px) {
            margin: 0 0 0 5px;
          }
        }
        .sub-type {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          margin: 0 10px;
          @media screen and (max-width: 700px) {
            display: none;
          }
        }
      }
      .container-right {
        display: flex;
        align-items: center;
        justify-content: center;

        .date {
          margin-right: 10px;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }
}

.card-outpatient {
  background-color: white;
  width: 100%;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 15px 25px;
  border-radius: 3px;
  position: relative;
  transition-duration: 200ms;
  &:hover {
    @media screen and (min-width: 720px) {
      // cursor: pointer;
      transition-duration: 200ms;
      transform: scale(1.02);
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    }
  }

  @media screen and (max-width: 720px) {
    align-items: flex-start;
    padding: 5px 10px;
  }

  .container-patient-information {
    display: flex;
    align-items: center;
    flex-direction: row;

    @media screen and (max-width: 720px) {
      align-items: flex-start;
      flex-direction: column;
    }

    .patient-name {
      color: $myc-dark;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      min-width: 200px;
      @media screen and (max-width: 720px) {
        margin-bottom: 10px;
        font-size: 16px;
        min-width: 150px;
      }
    }

    .patient-spacer {
      width: 2px;
      height: 35px;
      margin: 0 17px;
      background-color: $myc-input-border;
      @media screen and (max-width: 720px) {
        margin-top: 20px;
        display: none;
      }
    }

    .patient-consultation {
      color: $myc-grey;
      margin-left: 17px;
    }
  }

  .container-patient-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .date-icon {
      @media screen and (max-width: 720px) {
        display: none;
      }
    }
    .date {
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      margin: 0 10px;
      @media screen and (max-width: 720px) {
        font-size: 14px;
      }
    }
    .hours {
      padding: 4px 16px;
      font-weight: bold;
      background-color: $myc-primary-light;
    }
    .container-more {
      position: absolute;
      // cursor: pointer;
      right: -55px;
      @media screen and (max-width: 720px) {
        display: none;
      }
      .container-more-icon {
        padding: 10px 20px;
      }
    }
  }
  .container-patient-consultation {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}

.container-all {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  .icon {
    @media screen and (max-width: 700px) {
      display: none;
    }
  }
  .see-more {
    @media screen and (max-width: 1000px) {
      display: none;
    }
  }
  .container-type-medecin-date {
    width: 100%;
    border: solid 1px $myc-grey-light;
    border-radius: 4px;
    padding: 10px 10px;
    margin: 10px 10px 10px 0;
    @media screen and (max-width: 700px) {
      margin: 10px 0px 10px 0;
      padding: 5px 0px;
    }
    .row-teasing {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .container-left {
        display: flex;
        align-items: center;
        justify-content: center;
        .type-consulation {
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 20px;
          margin: 0 10px;
          @media screen and (max-width: 700px) {
            margin: 0 0 0 5px;
          }
        }
        .type-consulation-second {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          margin: 0 10px;
          @media screen and (max-width: 700px) {
            display: none;
          }
        }
      }
      .container-right {
        display: flex;
        align-items: center;
        justify-content: center;

        .date {
          margin-right: 10px;
        }
      }
    }
  }
}

.menu-list-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px !important;
  line-height: 22px;
  color: $myc-secondary-information;
}

// animation
.appointement-in-consultation-enter-active,
.fade-leave-active {
  transition-duration: 400ms;
}
.appointement-in-consultation-enter,
.appointement-in-consultation-leave-to {
  opacity: 0;
}

.myc-export-chips {
  display: flex;
  justify-content: space-between;
  .chip {
    > p {
      @include text-sm---regular;
      color: map-get($colors, cool-gray--400);
      text-transform: uppercase;
    }
    &-content {
      background-color: map-get($colors, cool-gray--100);
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 4px;
      > div {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          @include text-sm---regular;
          cursor: pointer;
          color: map-get($colors, blue--500);
          margin-bottom: 0;
          margin: 0 8px;
        }
      }

      .icon {
        padding: 10px 8px;
        background-color: map-get($colors, cool-gray--200);
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }
}
