/////////////////////////////////////
///////  Outpatient Dialog  /////////
/////////////////////////////////////

.container-all {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    .nothing {
      width: 100%;
      text-align: center;
      @include text-base---regular;
    }
    .container-file {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      .container-name-icon {
        border: 1px solid $myc-grey-light;
        padding: 5px;
        border-radius: 4px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        position: relative;
        &:hover {
          cursor: pointer;
        }
  
        span {
          color: $myc-dark;
          margin-left: 10px;
        }
        .weight {
          position: absolute;
          right: 10px;
          color: $myc-grey-light;
          font-family: Source Sans Pro;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
  .local_input_slot .v-input__control .v-input__slot {
    min-height: 50px !important;
  }