
@mixin course-card() {
    height: 300px;
    cursor: pointer;
    transition: 200ms;
    &:hover{
        transition: 200ms;
        transform: scale(1.02);
    }
    img {
        width: 100%;
        border-radius: 4px;
    }

    p {
        margin: 0 !important;
        @include text-base---regular;
        color: map-get($colors, cool-gray--500);
    }
}

.container-course-card{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .course-card{
        width: calc(25% - 12px) !important;
        margin-right: 16px;
        @include course-card()
    }
    .course-card-end{
        width: calc(25% - 12px) !important;
        margin-right: 0px;
        @include course-card()
    }
}

.page-course{
    width: 100%;
    .container-header-course{
        width: 100%;
        display: flex;
        flex-direction: row;
        .image{
            height: 150px;
            border-radius: 4px;
        }
        .content{
            padding-left: 32px;
            .presentation-ligne{
                margin-bottom: 4px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                p{
                    margin: 0;
                    margin-right: 8px;
                    @include text-base---regular;
                }
            }
            .presentation-column{
                margin-bottom: 4px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                p {
                    margin: 0;
                    margin-right: 8px;
                    @include text-base---regular;
                }
                .description {
                    color: map-get($colors, cool-gray--500);
                    @include text-base---regular;
                }
            }
        }
    }
}