/////////////////////////////////////
//////////  Outpatients  ////////////
/////////////////////////////////////

// Layout
.container-outpatients-list{
    width: 100%;
    padding: 20px 10% 0 5%;
    @media screen and (max-width: 1070px) {
        padding: 20px 10% 0 0;
    }
    @media screen and (max-width: 720px) {
        padding: 20px 0 0 0;
    }
}
.container-outpatients-list-minimal{
    width: 100%;
}
.patient-age{
    @include text-sm---medium;
    color: map-get($colors, cool-gray--400);
    margin-left: 8px;
}


// dialog

.outpatient-links{
    width: 100%;
    border: 2px solid $myc-blue;
    background-color: $myc-blue;
    color: white;
    border-radius: 3px;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    position: relative;

    .outpatient-icon{
        opacity: 0;
        position: absolute;
        right: 10px;
        transform: translateX(-20px);
    }
    
    &:hover{
        cursor: pointer;
        border-color: $myc-blue;
        color: $myc-blue;
        background-color: white;

        .outpatient-icon{
            transition: all 200ms;
            opacity: 1;
            transform: translateX(0px);
        }
    }
}


// Badge for the BMC
.bmi-normal{
    background-color: rgba(5, 168, 5, 0.1);
    padding: 0 10px;
    color: green;
    border: green 1px solid;
}

.bmi-dangerous{
    background-color: rgba(185, 105, 1, 0.1);
    padding: 0 10px;
    color: rgba(185, 105, 1, 1);
    border: rgba(185, 105, 1, 1) 1px solid;
}

.bmi-critical{
    background-color: rgba(197, 22, 6, 0.1);
    padding: 0 10px;
    color: rgba(197, 22, 6, 1);
    border: rgba(197, 22, 6, 1) 1px solid;
}

// medEventLinked

.linkedMedevent{
    .medEventSubTitle{
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        /* or 133% */

        /* coolGray/400 */
        
        color: #9CA3AF;
        
    }

    .medEventTitle{
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 143% */

        display: flex;
        align-items: center;

        /* coolGray/700 */

        color: #374151;
    }

    .date{
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;

        display: flex;
        align-items: center;
        /* identical to box height, or 133% */
        
        
        /* coolGray/700 */
        
        color: #374151;
    }

    .doctor{
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;

        display: flex;
        align-items: center;
        /* identical to box height, or 133% */
        
        
        /* coolGray/500 */
        
        color: #6B7280;
    }
}