/////////////////////////////////////
///////////  Form mixins  ///////////
/////////////////////////////////////

// Variables
$input-border: red;

// Mixins
@mixin input-style {
	background-color: white;
	border: 1px solid rgb(235, 233, 233);
	border-radius: 4px 4px 0px 0px;
	@include text-base---regular;

	&::-moz-placeholder, &::placeholder{
		text-transform: capitalize;
	}

	&:focus{
		border: 1px solid blue !important;
	}
}