/////////////////////////////////////
/////////////  Snackbar  ////////////
/////////////////////////////////////

.snackbar{
    z-index: 9999999;
    .success--text{
        background-color: rgba($myc-primary-dark, 0.20);
        border: solid 1px $myc-primary-dark !important;
        color: $myc-primary-dark !important;
    }
    .er--text{
        background-color: rgba($myc-error, 0.20);
        border: solid 1px $myc-error !important;
        color: $myc-error !important;
    }
}

.no-internet {
    @include text-sm---regular;
    color: map-get($colors, rose--500) !important;
}

.myc-snackbar{
    position: fixed;
    z-index: 99999;
    bottom: 100px;
    right: 20px;
    background-color: white;
    padding: 16px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    box-shadow: $shadow-md;
    @include breakpoint(sm){
        right: 10px;
        left: 10px;
        top: 10px;
        bottom: auto;
    }
    .snackbar-icon{
        display: flex;
        padding: 6px;
        border-radius: 50px;
        margin-right: 16px;

    }
    .snackbar-icon-error{
        background-color: map-get($colors, rose--100);
        i{
            color: map-get($colors, rose--500)
        }
    }
    .snackbar-icon-success{
        background-color: map-get($colors, teal--100);
        i{
            color: map-get($colors, teal--500)
        }
    }
    .snackbar-content{
        width: 272px;
        h4{
            @include text-base---medium;
            color: map-get($colors, cool-gray--700)
        }
        p{
            @include text-base---regular;
            color: map-get($colors, cool-gray--500);
            margin: 0;
        }
    }
}


.snackbar-enter-active {
    transition: all 400ms;
}
.snackbar-leave-active {
    transition: all 400ms;
}
.snackbar-enter {
    transform: translateX(400px);
}
.snackbar-enter-to {
    transform: translateX(0px);
}
.snackbar-leave {
    transform: translateX(0px);
}
.snackbar-leave-to {
    transform: translateX(400px);
}