/////////////////////////////////////
////////////  Variables  ////////////
/////////////////////////////////////

// Form one page
$input-width-desktop: 48%;
$input-width-mobile: 90vw;

// breackpoint
$mobile: 560px;
$tablet: 950px;
$desktop: 1100px;

$mobile-s-height: 389px;

// Font
$font: 'Source Sans Pro';

// Menu
$myc-menu-left-padding: 15px;



//===============================================  Vuetify
//----------------------------------  v-chip
$icon-sizes:(
    'x-small': (
      'font-size': 13,
      'height': 20
    )
);

