/////////////////////////////////////
///////////// Surcharge /////////////
/////////////////////////////////////

// Layout
html{
    overflow: hidden;
}

body .v-application{
    width: 100%;
    overflow: hidden;
}
body, .v-application--wrap{ 
    background-color: $app-background !important;
    overflow: hidden;
    display: flex;
    width: 100%;
    flex-direction: row !important;
}

body{
    overflow: hidden!important;
}

// Inputs
.v-input--reverse .v-input__slot {
    flex-direction: row-reverse;
    justify-content: flex-end;
    .v-application--is-ltr & {
        .v-input--selection-controls__input {
        margin-right: 0;
        margin-left: 8px;
        }
    }
    .v-application--is-rtl & {
        .v-input--selection-controls__input {
        margin-left: 0;
        margin-right: 8px;
        }
    }
}
.v-input--expand .v-input__slot {
    .v-label {
        display: block;
        flex: 1;
    }
    margin: 0 0 16px 0 !important;
}
.v-input__slot {
    margin: 0 0 0 0 !important;
}

.error--text{
    .v-text-field__details{
        display: block;
        margin-bottom: 0px !important;
    }
}
.v-text-field__details{
    display: none;
}

// Select
.v-select__selections{
	padding: 0 !important;
}
.v-select.v-input--dense .v-select__selection--comma{
	margin: 0 !important;
	@include text-sm---regular
}

.v-input__slot {
    .v-icon{
        font-size: 20px !important;
    }
}


.slider_emoj {
    font-size: 38px;    
}
.v-messages__message {
    font-size: 15px;
    font-weight: bold;
}
// text
.primary--text {
    color: #24e3c1;
}
// links
.v-application a {
    color: #3772ff !important;
}
.underline {
    text-decoration: underline;
}

// data table 
.myc-pagination .v-data-footer__icons-after{
    margin-right:30px!important;
}
.v-data-table-header {
    background: #FAFAFA;
}
.v-data-table-header th {
    color: #212121 !important;;
}

// crips
body{
    .crisp-client .cc-kv6t[data-full-view=true] .cc-1xry .cc-unoo{
        bottom: 70px !important;
    }
}