/////////////////////////////////////
///////////  All button /////////////
/////////////////////////////////////

// Mixin
@import "../../mixins/button.scss";

//================================================================ Button Text
// Primary
.button-primary--regular {
  @include button-regular();
  @include hover-primary($primary-button-hover-color);
  @include icon($primary-button-icon-color);
  background-color: rgba($primary-button-color, 1);
  border: solid 1px $primary-button-border-color;
  span {
    color: $primary-button-text-color;
    vertical-align: middle;
  }
}
.button-primary--small {
  @include button-small();
  @include hover-primary($primary-button-hover-color);
  @include icon($primary-button-icon-color);
  background-color: rgba($primary-button-color, 1);
  border: solid 1px $primary-button-border-color;
  span {
    color: $primary-button-text-color;
  }
}

// Secondary
.button-secondary--regular {
  @include button-regular();
  @include hover-secondary($secondary-button-hover-color);
  @include icon($secondary-button-icon-color);
  background-color: rgba($secondary-button-color, 1);
  border: solid 1px $secondary-button-border-color;
  span {
    color: $secondary-button-text-color;
  }
}
.button-secondary--small {
  @include button-small();
  @include hover-secondary($secondary-button-hover-color);
  @include icon($secondary-button-icon-color);
  background-color: rgba($secondary-button-color, 1);
  border: solid 1px $secondary-button-border-color;
  span {
    color: $secondary-button-text-color;
  }
}

// Tertiary
.button-terciary--regular {
  @include button-regular();
  @include hover-secondary($tertiary-button-hover-color);
  @include icon($tertiary-button-icon-color);
  background-color: transparent;
  border: solid 1px $tertiary-button-border-color;
  span {
    color: $tertiary-button-text-color;
  }
}
.button-terciary--small {
  @include button-small();
  @include hover-secondary($tertiary-button-hover-color);
  @include icon($tertiary-button-icon-color);
  background-color: transparent;
  border: solid 1px $tertiary-button-border-color;
  span {
    color: $tertiary-button-text-color;
  }
}

// Disable
.button-disable--regular {
  @include button-regular();
  @include hover-secondary($disable-button-hover-color);
  @include icon($disable-button-icon-color);
  background-color: rgba($disable-button-color, 1);
  border: solid 1px $disable-button-border-color;
  cursor: not-allowed;
  span {
    color: $disable-button-text-color;
  }
}
.button-disable--small {
  @include button-small();
  @include hover-secondary($disable-button-hover-color);
  @include icon($disable-button-icon-color);
  background-color: rgba($disable-button-color, 1);
  border: solid 1px $disable-button-border-color;
  cursor: not-allowed;
  span {
    color: $disable-button-text-color;
  }
}

// Error
.button-error--regular {
  @include button-regular();
  @include hover-secondary($error-button-hover-color);
  @include icon($error-button-icon-color);
  background-color: rgba($error-button-color, 1);
  border: solid 1px $error-button-border-color;
  span {
    color: $error-button-text-color;
  }
}
.button-error--small {
  @include button-small();
  @include hover-secondary($error-button-hover-color);
  @include icon($error-button-icon-color);
  background-color: rgba($error-button-color, 1);
  border: solid 1px $error-button-border-color;
  span {
    color: $error-button-text-color;
  }
}

// Warning
.button-warning--regular {
  @include button-regular();
  @include hover-secondary($warning-button-hover-color);
  @include icon($warning-button-icon-color);
  background-color: rgba($warning-button-color, 1);
  border: solid 1px $warning-button-border-color;
  span {
    color: $warning-button-text-color;
  }
}
.button-warning--small {
  @include button-small();
  @include hover-secondary($warning-button-hover-color);
  @include icon($warning-button-icon-color);
  background-color: rgba($warning-button-color, 1);
  border: solid 1px $warning-button-border-color;
  span {
    color: $warning-button-text-color;
  }
}
//================================================================ Button Icon

// Primary
.button-primary-icon--regular {
  @include button-icon-regular();
  @include hover-primary($primary-button-hover-color);
  @include icon($primary-button-icon-color);
  background-color: rgba($primary-button-color, 1);
  border: solid 1px $primary-button-border-color;
}
.button-primary-icon--small {
  @include button-icon-small();
  @include hover-primary($primary-button-hover-color);
  @include icon($primary-button-icon-color);
  background-color: rgba($primary-button-color, 1);
  border: solid 1px $primary-button-border-color;
}

// Secondary
.button-secondary-icon--regular {
  @include button-icon-regular();
  @include hover-secondary($secondary-button-hover-color);
  @include icon($secondary-button-icon-color);
  background-color: rgba($secondary-button-color, 1);
  border: solid 1px $secondary-button-border-color;
}
.button-secondary-icon--small {
  @include button-icon-small();
  @include hover-secondary($secondary-button-hover-color);
  @include icon($secondary-button-icon-color);
  background-color: rgba($secondary-button-color, 1);
  border: solid 1px $secondary-button-border-color;
}

// Tertiary
.button-terciary-icon--regular {
  @include button-icon-regular();
  @include hover-secondary($tertiary-button-hover-color);
  @include icon($tertiary-button-icon-color);
  background-color: transparent;
  border: solid 1px $tertiary-button-border-color;
}
.button-terciary-icon--small {
  @include button-icon-small();
  @include hover-secondary($tertiary-button-hover-color);
  @include icon($tertiary-button-icon-color);
  background-color: transparent;
  border: solid 1px $tertiary-button-border-color;
}

// Error
.button-error-icon--regular {
  @include button-icon-regular();
  @include hover-secondary($error-button-hover-color);
  @include icon($error-button-icon-color);
  background-color: rgba($secondary-button-color, 1);
  border: solid 1px $error-button-border-color;
}
.button-error-icon--small {
  @include button-icon-small();
  @include hover-secondary($error-button-hover-color);
  @include icon($error-button-icon-color);
  background-color: rgba($secondary-button-color, 1);
  border: solid 1px $error-button-border-color;
}

// Warning
.button-warning-icon--regular {
  @include button-icon-regular();
  @include hover-secondary($warning-button-hover-color);
  @include icon($warning-button-icon-color);
  background-color: rgba($secondary-button-color, 1);
  border: solid 1px $warning-button-border-color;
}
.button-warning-icon--small {
  @include button-icon-small();
  @include hover-secondary($warning-button-hover-color);
  @include icon($warning-button-icon-color);
  background-color: rgba($secondary-button-color, 1);
  border: solid 1px $warning-button-border-color;
}

//================================================================ Button Loading

.loading {
  display: inline-block;
  width: 25px;
  height: 25px;
}
.loading div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  margin: 5px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
