/////////////////////////////////////
///////////  Card file  /////////////
/////////////////////////////////////

.myc-input-file {
  display: none;
}

.myc-file-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2px;
  i {
    color: map-get($colors, blue--500) !important;
  }
  .pointer {
    cursor: pointer;
  }
  > div {
    display: flex;
    align-items: center;
    width: 100%;
    .v-input--selection-controls {
      margin-top: 0;
    }
    .container-left {
      display: flex;
      justify-content: space-between;
      padding: 0;
      align-items: center;
      width: 100%;
      > div {
        display: flex;
        flex-direction: column;
        > div {
          .file-name {
            cursor: pointer;
            margin-left: 4px;
            @include text-sm---regular;
            color: map-get($colors, blue--500);
          }
        }
        .file-type {
          @include text-xs---regular;
          color: map-get($colors, cool-gray--400);
          margin-top: -4px;
        }
      }
      .file-date {
        margin-left: 4px;
        @include text-xs---regular;
        color: map-get($colors, cool-gray--700);
      }
    }

    .container-right {
      display: flex;
      margin-left: 6px;
      button {
        margin-left: 4px;
      }
    }
  }
}
