/////////////////////////////////////
////////////  Card Global  //////////
/////////////////////////////////////

.global-card {
  .container-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media screen and (max-width: 430px) {
      flex-direction: column;
    }
  }

  .row-content {
    width: 100%;
  }

  .title-card {
    @include text-xl---medium;
    color: map-get($colors, cool-gray--700);
    @media screen and (max-width: 430px) {
      margin-bottom: 0 !important;
    }
  }
}

.myc-card-global {
  background-color: map-get($colors, white);
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 12px;
  width: 100%;
  .icon-expand {
    transform: rotateX(180deg) !important;
  }
  .container-expand {
    margin-left: 16px;
    .icon-expand {
      transform: rotateX(180deg) !important;
    }
  }
  .header-card-global {
    width: 100%;
    @include text-base---medium;
    color: map-get($colors, cool-gray--700);
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    i {
      color: map-get($colors, cool-gray--700);
    }
    .container-title-left {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      flex-wrap: wrap;
      .title-card {
        @include text-base---medium;
        padding: 2px 0;
      }
      .button-card {
        @include breakpoint(xs) {
          width: 100%;
        }
      }
    }
  }
  .card-content-padding {
    padding: 0 8px;
  }
  .card-content {
    width: 100%;
  }
}

.closed-myc-card-global {
  padding-bottom: 5px;
}

.myc-card-global-disabled {
  background-color: #f4f9ff;
}

.myc-card-global-no-margin {
  margin-bottom: 0px;
}
