/////////////////////////////////////
/////////// Global Dialog ///////////
/////////////////////////////////////

.background-dialog {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;

  .dialog {
    border-radius: 4px;
    height: auto;
    overflow: auto;

    width: auto;
    background-color: white;
    @media screen and (max-width: 1000px) {
      width: 90%;
    }

    .container-dialog-title {
      display: flex;
      z-index: 1000;
      align-items: center;
      justify-content: space-between;
      position: sticky;
      top: 0;
      left: 0;
      right: 0;
      background-color: map-get($colors, white);
      padding: 20px;
      h3 {
        font-size: 24px;
      }
    }
    .content-dialog {
      padding: 0 20px 20px 20px;
      overflow-y: scroll;
    }
  }
}
.background-dialog-scroll {
  box-shadow: $shadow-base;
}

.myc-dialog-global-container {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .dialog-global-background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(map-get($colors, black), 0.2);
  }
  .dialog-global {
    position: relative;
    z-index: 1;
    z-index: 1001;
    background-color: map-get($colors, white);
    width: 568px;
    border-radius: 8px;
    margin: 16px;
    @include breakpoint(xs) {
      width: 100%;
      margin: 8px;
    }
    .dialog-header {
      padding: 16px;
      width: 100%;
      position: relative;
      z-index: 2;
      transition-duration: 500ms;
      .title-close {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .dialog-title {
          @include text-base---medium;
          color: map-get($colors, cool-gray--700);
        }
      }
      p {
        margin: 0;
        padding: 0;
        margin-top: 16px;
        @include text-base---medium;
        color: map-get($colors, cool-gray--500);
      }
    }
    .dialog-content {
      overflow: scroll;
      padding: 8px 24px;
      width: 100%;
      svg {
        transform: scale(1.4);
        margin: 28px 0 22.4px;
      }
      .myc-icon-error {
        color: map-get($colors, red--500);
      }
      .myc-icon-warning {
        color: map-get($colors, orange--500);
      }
      .myc-icon-information {
        color: map-get($colors, blue--700);
      }
      .dialog-popup {
        display: flex;
        flex-direction: column;
        align-items: center;
        i {
          color: map-get($colors, rose--600);
          font-size: 40px;
        }
        &-title {
          @include text-lg---medium;
          margin-bottom: 16px;
        }
        &-text {
          text-align: center;
          @include text-sm---regular;
          /* coolGray/500 */
          color: #6b7280;
        }
      }
    }

    .background-content-dialog {
      background-color: map-get($colors, cool-gray--100);
    }
    .dialog-no-footer {
      margin-bottom: 16px;
    }
    .dialog-footer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      z-index: 2;
      flex-direction: column;
      padding: 16px;
      .container-footer-extra {
        display: flex;
        margin-bottom: 16px;
      }
      .container-footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include breakpoint(sm) {
          align-items: flex-end;
          .dialog-error {
            margin-bottom: 8px;
          }
        }
        .dialog-error {
          padding: 8px;
          width: 100%;
          .dialog-message-error {
            padding: 6px 8px;
            border: solid 1px map-get($colors, rose--300);
            background-color: map-get($colors, rose--100);
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .v-icon:before {
              color: map-get($colors, rose--600);
              margin-right: 8px;
              font-size: 22px;
            }
            p {
              margin: 0;
              padding: 0;
              color: map-get($colors, rose--600);
              @include text-base---medium;
              text-transform: lowercase;
              &:first-letter {
                text-transform: uppercase;
              }
            }
          }
        }
      }
      .centerButton {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}

.consentCheckbox {
  display: flex;
  justify-content: center;
  > div {
    width: 90%;
    label {
      @include text-sm---regular;
    }
  }
}
