/*
    Type: Component layout
    Created by: Quentin Guerrier
    Updated by: Quentin Guerrier
*/

body {
  scroll-behavior: smooth;
}

.page-content {
  width: 100%;
  padding: 96px 5% 16px 5%;
  height: 200vh;
}
