/////////////////////////////////////
//////////////  Table  //////////////
/////////////////////////////////////

.table-normal {
  border-radius: 8px !important;
  background-color: red;
  div.v-data-table__wrapper {
    background-color: white !important;
    table {
      thead {
        .v-data-table__progress {
          height: auto !important;
          th {
            height: auto !important;
          }
        }
        tr {
          cursor: default;
          th {
            text-align: start !important;
            @include text-xs---medium;
            background-color: map-get($colors, cool-gray--100) !important;
            color: map-get($colors, cool-gray--500) !important;
            border: 1px solid transparent !important;
            height: 40px !important;
            flex-wrap: nowrap;
            white-space: nowrap;
            padding: 0 8px !important;
            &:first-child {
              border-radius: 4px 0 0 4px !important;
            }
            &:last-child {
              border-radius: 0 4px 4px 0 !important;
              text-align: center !important;
            }
            .v-data-table-header__icon {
              opacity: 1;
              margin-left: 4px;
              color: map-get($colors, cool-gray--500) !important;
            }
          }
        }
      }
      tbody {
        tr.v-data-table__empty-wrapper {
          td {
            border-left: none !important;
          }
        }
        tr {
          cursor: pointer;
          &:nth-child(2n-4) {
            background-color: map-get($colors, cool-gray--50) !important;
          }
          td {
            border: 1px solid transparent !important;
            text-align: start !important;
            @include text-sm---regular;
            color: map-get($colors, cool-gray--700) !important;
            height: 40px !important;
            padding: 0 8px !important;
            &:last-child {
              padding: 0 16px 0 8px !important;
              text-align: center !important;
              flex-wrap: nowrap;
              white-space: nowrap;
              .v-icon {
                color: map-get($colors, cool-gray--500) !important;
              }
            }
          }
        }
      }
    }
  }
  div.v-data-footer {
    background-color: transparent !important;
    border: none !important;
    flex-wrap: wrap !important;
    justify-content: flex-end;
    @media screen and (max-width: 700px) {
      .v-data-footer__select {
        display: none !important;
      }
    }
  }
}
