/////////////////////////////////////
//////////  Timeline exam  //////////
/////////////////////////////////////

.container-all-exams {
    margin-top: 20px;
    .container-exam {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: row;
      .container-date-timeline {
        height: 120px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        @media screen and (max-width: 600px) {
          flex-direction: column;
          height: 110px;
        }
        .date {
          border: solid 1px $myc-light-grey;
          font-size: 14px;
          font-weight: normal;
          padding: 2px 10px;
          margin: 0;
        }
        .first {
          padding-top: 10px;
        }
        .timeline {
          margin-left: 20px;
          height: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: flex-start;
          position: relative;
          .finish {
            position: relative;
            z-index: 0;
            &::before {
              position: absolute;
              z-index: 0;
              top: 0;
              left: 0;
              width: 2px;
              height: 100px;
              background-color: red;
            }
          }
          .point {
            position: relative;
            z-index: 1;
            height: 10px;
            width: 10px;
            background-color: white;
            border: solid 2px red;
            border-radius: 10px;
            position: absolute;
            top: 8px;
          }
          .line {
            height: 100%;
            width: 2px;
            background-color: $myc-light-grey;
          }
        }
      }
      .container-exam-info {
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        @media screen and (max-width: 600px) {
          padding-left: 5px;
        }
        .container-title {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          @media screen and (max-width: 600px) {
            flex-wrap: wrap;
          }
          .doctor {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $myc-secondary-information;
            @media screen and (max-width: 600px) {
              display: none;
            }
          }
        }
        .container-icon-paperclip {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin: 0;
          padding: 0;
          @media screen and (max-width: 600px) {
            display: none;
          }
        }
      }
    }
  }